* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--neutral);
  transition: background 0.3s ease;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; /* 1rem === 10px*/

  --pure-black: #000;
  --neutral-600: #1a1a1a;
  --neutral-400: #6e6e73;
  --neutral-300: #dcdcdc;
  --neutral-200: #e7e7e7;
  --neutral-100: #f2f3f4;
  --pure-white: #ffffff;
  --disabled: rgba(206, 206, 206, 0.7);
  --dark-disabled: rgba(206, 206, 206, 0.3);
  --logo-pink: #ff3d7b;
  --logo-yellow: #ffd876;
  --blue-sky: #62bfeb;
  --midnight-sky: #172334;
  --border-radius: 2.4rem;
}

#loaderlogo svg path {
  fill: var(--neutral-600);
}

.loader_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  position: fixed;
  z-index: 9999;
  background-color: var(--neutral-100);
  width: 100vw;
  height: 100vh;
}

#loader {
  display: flex;
  align-items: center;
  position: relative;
  height: 6px;
  width: 250px;
  background-color: var(--neutral-400);
  border: none;
  border-radius: 1rem;
}

#loader #progress {
  background-color: #fff;
  width: 0;
  height: 6px;
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.flex {
  display: flex;
}

.pd-1 {
  padding: 1rem;
}

.card {
  background-color: var(--neutral-100);
  border-radius: var(--border-radius);
}

.title {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--neutral-600);
  letter-spacing: -0.9px;
  align-items: center;
}

.apple-grid {
  max-width: 1512px;
  height: fit-content;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  place-content: center;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 0.3fr 0.4fr 0.4fr 0.8fr 0.2fr 0.15fr;
  grid-template-areas:
    'hello hello'
    'profile profile'
    'resume resume'
    'stacks stacks'
    'mail mail'
    'projects projects'
    'select-mode contact'
    'select-mode contact';
}

.brand {
  grid-area: brand;
  overflow: hidden;
}

.brand,
.welcome {
  display: none;
}

.brand-logo {
  align-items: center;
  justify-content: center;
}
.brand-logo img {
  height: 7.5rem;
}
.welcome {
  grid-area: welcome;
  padding: 0.7rem;
}

.welcome .container {
  width: 100%;
  border-radius: 2rem;
}

.profile {
  grid-area: profile;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1.5rem;
  position: relative;
  /* background-image: url(./assets/dot.svg); */
}
.profile .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile .profile-avatar {
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(40deg, #ff487a 20.77%, #ffd876 90.6%);
  clip-path: circle(44%);
}

.profile .profile-avatar img {
  width: 80%;
}

.profile .profile-name {
  display: flex;
  flex-direction: column;
  width: 40rem;
  line-height: 25px;
  text-align: center;
}

.profile .profile-name h1 {
  font-size: 3.9rem;
  padding-top: 4rem;
  font-weight: 700;
  color: var(--neutral-600);
  letter-spacing: -1px;
}
.profile .profile-name .role {
  font-size: 2rem;
  color: var(--neutral-600);
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.5px;
}
.profile .profile-about p {
  color: var(--neutral-400);
  padding-top: 2.3rem;
  padding-inline: 2.5rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
}

.resume {
  grid-area: resume;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.resume a {
  transition: 0.5s all ease;
  font-size: 4rem;
  letter-spacing: -0.95px;
  font-weight: 800;
  color: #172334;
  cursor: pointer;
  padding-block: 3rem;
  background: linear-gradient(89deg, #ff487a 2.77%, #ffd876 172.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello {
  width: 100%;
  height: 100%;
  grid-area: hello;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hello-message {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(20px);
}

.hello-message h2 {
  font-size: 6.7rem;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9;
  color: var(--neutral-600);
  position: absolute;
  background: linear-gradient(
    41deg,
    var(--logo-pink) 0%,
    var(--logo-yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(20px);
}

.hello-message .stroke {
  width: 320px;
}

.hello-message h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    41deg,
    var(--logo-pink) 0%,
    var(--logo-yellow) 100%
  );
  filter: blur(20px);
  transform: translateY(10px) scale(1);
  opacity: 0.3;
}

.projects {
  grid-area: projects;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url(./assets/grid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects .title {
  position: absolute;
}

.card-container {
  max-width: 1120px;
  width: 100%;
  padding: 50px 0;
}

.slide-container {
  margin: 0 10px;
  overflow: hidden;
}

.card-slide {
  width: 312px;
  background-color: var(--pure-white);
  border-radius: 8px;
}

.card-slide .image-box {
  width: 100%;
}

.card-slide .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card-slide .project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.7fr;
  grid-template-areas:
    'description description'
    'stack preview';
  gap: 1rem;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--pure-white);
  border-top: 1px solid var(--neutral-300);
}

.name-job {
  grid-area: description;
}

.stack-details {
  grid-area: stack;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.project-preview {
  grid-area: preview;
}

.project-details .name {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.stack-details .stack-title,
.preview-title {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.project-details .job {
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-400);
}

.stack-details .stack-icons,
.preview-icons {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}

.preview-icons a {
  width: fit-content;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem;
  color: black;
}

.preview-icons a:visited {
  color: black;
}

.stack-details .stack-icons img,
.project-preview .preview-icons img {
  width: 2rem;
}

.project-preview .preview-icons a {
  cursor: pointer;
}

.swiper-navBtn {
  display: none;
}

.swiper-navBtn {
  color: var(--neutral-600);
  height: 30px;
  width: 30px;
  background: var(--neutral-300);
  border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 12px;
}

.swiper-pagination-bullet {
  background-color: var(--pure-black);
}

.stacks {
  grid-area: stacks;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.stacks-icons {
  width: 95%;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.stacks .ico {
  background-color: var(--neutral-200);
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
}

.stacks .ico svg path {
  fill: var(--neutral-600);
}

.stacks .html5 svg path:nth-child(n + 3) {
  fill: var(--neutral-100);
}
.stacks .git svg path:nth-child(3) {
  fill: var(--neutral-100);
}

.stacks .css3 svg path:nth-child(n + 3) {
  fill: var(--neutral-100);
}

.stacks .javascript svg path:nth-child(n + 2) {
  fill: var(--neutral-100);
}
.stacks .ico:nth-child(n + 7) svg path {
  fill: var(--neutral-400);
}

.stacks .ico:nth-child(n + 7) {
  background-color: var(--disabled);
}

.stacks .typescript svg path:nth-child(2) {
  fill: var(--neutral-100);
}
.stacks .figma svg path:nth-child(n + 4) {
  fill: var(--neutral-400);
}

.stacks .bootstrap svg path:nth-child(3) {
  fill: var(--neutral-100);
}

.stacks .javascript {
  background: linear-gradient(
    41deg,
    var(--logo-pink) 0%,
    var(--logo-yellow) 100%
  );
}

.descriptions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.studing {
  color: var(--pure-black);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  position: relative;
}

.interested {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--neutral-600);
  /* background-color: var(--disabled); */
  padding: 1rem 1.1rem;
  border-radius: 0.8rem;
  position: relative;
}

.interested::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-color: var(--disabled);
  position: absolute;
  top: 50%;
  left: -1.2rem;
  transform: translateY(-50%);
  border-radius: 50%;
}

.studing::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    41deg,
    var(--logo-pink) 0%,
    var(--logo-yellow) 100%
  );
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: translateY(-50%);
  border-radius: 50%;
}

.stack-icons span {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem;
  width: fit-content;
}

.mail {
  grid-area: mail;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

.mail .img {
  width: 95%;
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
}

.mail .img img {
  width: 100%;
  max-width: 100%;
}

.button-copy {
  display: flex;
  width: 95%;
  height: 50px;
  justify-content: center;
  border: 1px solid var(--neutral-300);
  background: rgba(255, 255, 255, 0.2);
  bottom: 10px;
  border-radius: 1.5rem;
  position: absolute;
  cursor: pointer;
  transition: 0.8s all ease;
  text-transform: uppercase;
  font-size: 1.4rem;
  overflow: hidden;
}

.button-copy.copied {
  display: flex;
  align-items: center;
  background: rgba(159, 159, 159, 0.2);
  border: 1px solid var(--neutral-600);
}

.button-copy i {
  font-size: 1.2rem;
}

.words span {
  display: block;
  text-align: center;
  padding-block: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--neutral-400);
  animation: spin_words 15s infinite;
}

@keyframes spin_words {
  10% {
    transform: translateY(-105%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-205%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-305%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-405%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.mail .copy-mail {
  display: none;
}

.select-mode {
  grid-area: select-mode;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--violet-grad);
  overflow: hidden;
  border-radius: 20px;
  background: var(--blue-sky);
  position: relative;
}

.select-mode.night {
  border-radius: 20px;
  background-color: #192237;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.moon {
  display: none;
  position: absolute;
  top: 7rem;
  animation: moonshine 1s forwards;
  transition: all 1s ease;
}

.select-mode .sun {
  display: block;
  position: absolute;
  top: 6.8rem;
  animation: sunrise 1s forwards;
}

@keyframes sunrise {
  0% {
    top: 20rem;
    opacity: 0;
  }
  100% {
    top: 6.8rem;
    opacity: 1;
  }
}

@keyframes moonshine {
  0% {
    top: 20rem;
    opacity: 0;
  }
  100% {
    top: 7rem;
    opacity: 1;
  }
  0% {
    top: 20rem;
    opacity: 0;
  }
}

.select-mode .avatar {
  position: absolute;
  top: 0;
  perspective: 1000px;
  z-index: 999;
}

.memoji-face {
  transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.avatar.active .memoji-face {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  width: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
}

.select-mode .avatar img {
  width: 100%;
  transition: all 1s;
}

.toggle-btn {
  position: absolute;
  width: 5rem;
  height: 3rem;
  background: #feef88;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.8rem;
}

.toggle-btn .icon {
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  background: var(--neutral-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: var(--neutral-400);
  transition: all 0.4s;
}

.toggle-btn.active {
  background: var(--neutral-300);
  transition: all 0.4s;
}

.toggle-btn.active .icon {
  color: var(--neutral-400);
  left: calc(100% - 55%);
  transition: all 0.4s;
}

.contact {
  grid-area: contact;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contact img {
  position: absolute;
  width: 170px;
  max-width: 177px;
  display: flex;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact .frame {
  display: flex;
  flex-direction: column;
  width: 123px;
  height: 150px;
  display: flex;
  border-radius: 35px;
  padding: 8px 15px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: black;
}

.contact .frame .clock {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.clock span:nth-child(1) {
  color: #24a7ff;
  font-size: 1.2rem;
}
.clock span:nth-child(2) {
  color: white;
  font-weight: 400;
}

.contact .button {
  border: none;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  background: transparent;
  padding: 2px;
}

.contact .button a {
  border-radius: 8px;
  width: 11.5rem;
  padding: 0.5rem;
  display: flex;
  /* justify-content: center; */
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  position: relative;
  color: var(--neutral-100);
  font-size: 1.4rem;
  font-weight: 300;
}

.contact .button a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.contact ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/* --------------- SMALL DISPLAYS --------------- */

@media (min-width: 576px) {
  .apple-grid {
    margin: 0 auto;
    height: fit-content;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.2fr 0.4fr 1fr 0.2fr 0.2fr;
    grid-template-areas:
      'hello hello'
      'profile profile'
      'resume resume'
      'stacks mail'
      'projects projects'
      'select-mode contact'
      'select-mode contact';
  }

  .profile .profile-about p {
    padding-inline: 6rem;
  }

  .stacks-icons {
    margin-bottom: 0.5rem;
  }

  .stacks .ico {
    width: 5rem;
    height: 5rem;
  }

  .select-mode .avatar img {
    width: 140px;
  }

  .select-mode .sun {
    width: -webkit-fill-available;
  }
  .moon {
    width: -webkit-fill-available;
  }

  .contact img {
    position: absolute;
    width: 185px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* --------------- SMALL DISPLAYS --------------- */

@media (min-width: 1024px) {
  .apple-grid {
    margin: 0 auto;
    height: 100vh;
    padding: 1rem;
    /* padding-inline: 2rem; */
    overflow: hidden;
    grid-template-columns: 0.7fr 0.6fr 2.2fr 0.6fr 0.9fr;
    grid-template-rows: 0.8fr 0.9fr 0.2fr 0.6fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'profile profile hello stacks stacks'
      'profile profile hello stacks stacks'
      'profile profile projects stacks stacks'
      'profile profile projects mail mail'
      'profile profile projects mail mail'
      'profile profile projects select-mode contact'
      'resume resume projects select-mode contact';
  }

  .title {
    font-size: 2.4rem;
  }

  .profile {
    padding: 1rem 1.5rem;
  }

  .profile .profile-avatar::before {
    width: 14rem;
    height: 14rem;
  }

  .profile .profile-name {
    width: 26rem;
  }

  .profile .profile-name h1 {
    font-size: 2.8rem;
    padding-top: 2rem;
  }

  .profile .profile-name .role {
    font-size: 1.8rem;
  }

  .profile .profile-about p {
    font-size: 1.4rem;
    padding-inline: 0;
    letter-spacing: 0;
    line-height: 17px;
  }

  .resume a {
    font-size: 2.9rem;
  }

  .swiper-navBtn {
    display: flex;
    width: 25px;
    height: 25px;
  }

  .card-container {
    padding: 30px 0;
  }

  .project-details .name,
  .stack-details .stack-title,
  .preview-title {
    font-size: 1.6rem;
  }

  .project-details .job {
    font-size: 1.4rem;
  }

  .stacks .ico {
    width: 4rem;
    height: 4rem;
  }

  .stacks .description p {
    padding: 1rem;
  }

  .select-mode .avatar img {
    width: 120px;
  }

  .select-mode .sun,
  .moon {
    width: 350px;
  }

  .contact img {
    width: 170px;
    top: 50.7%;
  }
}

/* --------------- MEDIUM DISPLAYS --------------- */
@media (min-width: 1366px) {
  .apple-grid {
    padding: 2rem 6rem;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1.8fr 0.6fr 0.9fr;
    grid-template-rows: 1fr 1fr 0.4fr 0.9fr 1.3fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'profile profile brand welcome hello stacks stacks'
      'profile profile resume resume hello stacks stacks'
      'profile profile projects projects projects stacks stacks'
      'profile profile projects projects projects mail mail'
      'profile profile projects projects projects mail mail'
      'profile profile projects projects projects select-mode contact'
      'profile profile projects projects projects select-mode contact';
  }
  .brand,
  .welcome {
    display: flex;
  }
  .brand {
    align-items: center;
    justify-content: center;
    padding-left: 7px;
  }

  .profile .profile-about p {
    font-size: 1.6rem;
    padding-inline: 2rem;
    padding-top: 2rem;
  }

  .resume a {
    font-size: 2.5rem;
  }

  .select-mode .avatar img {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .apple-grid {
    max-width: 150rem;
    height: 100vh;
    padding: 4rem 10rem;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1.8fr 0.6fr 0.9fr;
    grid-template-rows: 1fr 1fr 0.4fr 0.9fr 1.3fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'profile profile brand welcome hello stacks stacks'
      'profile profile resume resume hello stacks stacks'
      'profile profile projects projects projects stacks stacks'
      'profile profile projects projects projects mail mail'
      'profile profile projects projects projects mail mail'
      'profile profile projects projects projects select-mode contact'
      'profile profile projects projects projects select-mode contact';
  }

  .brand,
  .welcome {
    display: flex;
  }

  .profile {
    padding: 2rem 1.5rem;
  }

  .profile .profile-avatar::before {
    width: 14rem;
    height: 14rem;
  }
  .profile .profile-name {
    width: 30rem;
  }

  .profile .profile-name h1 {
    /* font-size: 2.6rem; */
    padding-top: 2rem;
  }

  .profile .profile-name .role {
    font-size: 1.8rem;
  }

  .profile .profile-about p {
    font-size: 1.7rem;
    padding-top: 1rem;
    line-height: 20px;
    padding-inline: 2rem;
  }

  .brand {
    align-items: center;
    justify-content: center;
    padding-left: 7px;
  }

  .swiper-navBtn {
    display: flex;
  }

  .card-container {
    max-width: 1120px;
    width: 100%;
    padding: 35px 0;
  }

  .slide-container {
    margin: 0 33px;
    overflow: hidden;
  }

  .card-slide {
    width: 300px;
    background-color: var(--pure-white);
    border-radius: 8px;
  }

  .card-slide .image-box {
    width: 100%;
  }

  .card-slide .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .card-slide .project-details {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'description stack preview';
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--pure-white);
  }
  .project-details .name,
  .stack-details .stack-title,
  .preview-title {
    font-size: 1.6rem;
  }

  .project-details .job {
    font-size: 1.4rem;
  }

  .stacks .ico {
    width: 5rem;
    height: 5rem;
  }

  .stacks-icons {
    width: 100%;
    flex-wrap: wrap;
  }

  .stack-details .stack-icons,
  .preview-icons {
    flex-wrap: wrap;
    width: 80px;
  }

  .stacks .description p {
    font-size: 1.4rem;
    padding: 1.3rem;
  }

  .stack-details {
    width: 100px;
    padding-inline: 1rem;
  }

  .button-copy {
    width: 94%;
    position: absolute;
    bottom: 10px;
  }

  .contact .frame {
    width: 125px;
    height: 150px;
  }

  .contact img {
    position: absolute;
    width: 170px;
    max-width: 177px;
    display: flex;
    flex-direction: column;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 3; */
  }

  .select-mode .avatar img {
    width: 115px;
  }

  .select-mode .sun,
  .moon {
    width: fit-content;
  }

  /* .stack-icons span {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.2rem;
    width: fit-content;
  } */
}

/* --------------- LARGE DISPLAYS --------------- */

@media (min-width: 1600px) {
  .apple-grid {
    max-width: 1600px;
    height: 100vh;
    padding: 4rem 5rem;
    margin: 0 auto;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1.8fr 0.6fr 0.9fr;
    grid-template-rows: 1fr 1fr 0.4fr 0.9fr 1.3fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'profile profile brand welcome hello stacks stacks'
      'profile profile resume resume hello stacks stacks'
      'profile profile projects projects projects stacks stacks'
      'profile profile projects projects projects mail mail'
      'profile profile projects projects projects mail mail'
      'profile profile projects projects projects select-mode contact'
      'profile profile projects projects projects select-mode contact';
  }

  .brand,
  .welcome {
    display: block;
  }

  .hello-message h2 {
    font-size: 8rem;
  }

  .hello-message .stroke {
    width: 390px;
  }

  .profile .profile-about p {
    font-size: 1.8rem;
    padding: 2rem 1.2rem;
  }

  .brand {
    display: grid;
    place-items: center;
  }

  .brand-logo img {
    height: 100px;
    padding-left: 10px;
  }

  .stacks-icons {
    width: 90%;
  }

  .stacks .description p {
    margin-top: 2rem;
  }

  .swiper-navBtn {
    display: flex;
  }

  .slide-container {
    margin: 0 35px;
  }

  .card-slide .project-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: 'description description stack preview';
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--pure-white);
    border-top: 2px dashed var(--neutral-300);
  }

  .select-mode {
    background: var(--blue-sky);
  }

  .select-mode .avatar img {
    width: 140px;
    transition: all 1s;
  }

  @keyframes sunrise {
    0% {
      top: 20rem;
      opacity: 0;
    }
    100% {
      top: 9.8rem;
      opacity: 1;
    }
  }

  @keyframes moonshine {
    0% {
      top: 20rem;
      opacity: 0;
    }
    100% {
      top: 9.8rem;
      opacity: 1;
    }
  }
}
/*-----------------DARK MODE -------------------*/

body.dark {
  background-color: var(--pure-black);
}

.dark .loader_bg {
  background-color: var(--pure-black);
}

.dark #loaderlogo path {
  fill: white;
}
.dark .resume,
.dark .mail,
.dark .hello,
.dark .stacks,
.dark .projects,
.dark .brand,
.dark .welcome,
.dark .profile,
.dark .contact {
  background-color: var(--neutral-600);
}

.dark .card .profile-about p {
  color: var(--neutral-300);
}

.dark .profile .profile-name h1,
.dark .projects .title {
  color: var(--neutral-100);
}

.dark .profile .profile-name .role {
  color: var(--neutral-100);
  font-weight: 300;
}

.dark .stacks .description p {
  color: rgba(255, 255, 255, 0.8);
}

.dark .stacks .ico {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .stacks .ico:nth-child(n + 7) {
  background-color: var(--dark-disabled);
}

.dark .interested::before {
  background-color: var(--dark-disabled);
}

.dark .swiper-pagination-bullet {
  background-color: var(--logo-yellow);
}

.dark .stacks .title {
  bottom: 0;
  color: var(--neutral-100);
}

.dark .stacks .ico:nth-child(n + 7) svg path {
  fill: var(--disabled);
}

.dark .stacks .typescript svg path:nth-child(2) {
  fill: var(--neutral-100);
}

.dark .interested,
.dark .studing {
  color: var(--neutral-100);
}
.dark .mail .button-copy {
  border: 1px solid var(--neutral-400);
  background: rgba(255, 255, 255, 0.1);
  color: var(--pure-white);
}

.dark .words span {
  color: var(--neutral-100);
}

.dark .button-copy.copied {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid var(--neutral-200);
}
/* 
.dark .contact .button a {
  color: #f90202;
  background: rgba(85, 56, 57, 0.4);
}

.dark .contact .button a:hover {
  background: rgba(226, 32, 37, 0.3);
}

.dark .clock span {
  color: #f90202;
  font-weight: 500;
} */
