* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--neutral);
  transition: background 0.3s ease;
}

@font-face {
  font-family: 'SF Pro Display', sans-serif;
  src: url(./assets/SF-Pro-Display-Bold.otf) format('opentype');
  src: url(./assets/SF-Pro-Display-Regular.otf) format('opentype');
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
:root {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 62.5%; /* 1rem === 10px*/

  --pure-black: #000;
  --neutral-600: #1d1d1f;
  --neutral-400: #6e6e73;
  --neutral-300: #dcdcdc;
  --neutral-200: #e7e7e7;
  --neutral-100: #f2f3f4;
  --pure-white: #ffffff;
  --light-yellow-1: #faf1cf;
  --light-yellow-2: #fefae5;
  --logo-pink: #ff3d7b;
  --logo-yellow: #ffd876;
  --blue-sky: #62bfeb;
  --midnight-sky: #172334;
  --border-radius: 2.4rem;
}

.loader_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;

  position: fixed;
  z-index: 9999;
  background-color: var(--neutral-100);
  width: 100%;
  height: 100%;
}

.loader {
  display: flex;
  align-items: center;

  position: relative;
  height: 1rem;
  width: 250px;
  background-color: var(--neutral-400);
  border: 1px solid var(--neutral-400);
  border-radius: 1rem;
}

.loader .progress-bar {
  margin-inline: 0.1rem;
  background-color: #fff;
  width: 0px;
  height: 0.6rem;
  border-radius: 1rem;
  animation: progress 5s forwards linear;
}

@keyframes progress {
  0% {
    width: 0;
  }

  20% {
    width: 3%;
  }

  25% {
    width: 10%;
  }

  43% {
    width: 26%;
  }

  56% {
    width: 42%;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
  }

  75% {
    width: 76%;
  }

  94% {
    width: 86%;
  }

  100% {
    width: 100%;
  }
}

/* p {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--neutral-400);
} */

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.flex {
  display: flex;
}

.pd-1 {
  padding: 1rem;
}

.card {
  background-color: var(--neutral-100);
  border-radius: var(--border-radius);
}

.title {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--neutral-600);
  letter-spacing: -0.9px;
  align-items: center;
}

.apple-grid {
  max-width: 1512px;
  height: fit-content;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  place-content: center;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.3fr 0.55fr 0.52fr 1fr 0.2fr 0.2fr;
  grid-template-areas:
    'hello hello'
    'profile profile'
    'resume resume'
    'stacks stacks'
    'mail mail'
    'projects projects'
    'select-mode contact'
    'select-mode contact';
}

.brand {
  grid-area: brand;
  overflow: hidden;
}

.brand,
.welcome {
  display: none;
}

.brand-logo {
  align-items: center;
  justify-content: center;
}
.brand-logo img {
  height: 7.5rem;
}
.welcome {
  grid-area: welcome;
  padding: 0.7rem;
}

.welcome .container {
  width: 100%;
  border-radius: 2rem;
}

.profile {
  grid-area: profile;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1.5rem;
  position: relative;
  /* background-image: url(./assets/dot.svg); */
}

.profile .profile-avatar img {
  width: 12rem;
  position: relative;
}

.profile .profile-avatar::before {
  content: '';
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
  background-color: var(--pure-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile .profile-name {
  display: flex;
  flex-direction: column;
  width: 40rem;
  line-height: 25px;
  text-align: center;
}

.profile .profile-name h1 {
  font-size: 3.5rem;
  padding-top: 4rem;
  font-weight: 700;
  color: var(--neutral-600);
  letter-spacing: -1px;
}
.profile .profile-name .role {
  font-size: 2rem;
  color: var(--neutral-600);
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.5px;
}
.profile .profile-about p {
  color: var(--neutral-400);
  padding-top: 2.3rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
}

.resume {
  grid-area: resume;
  background-color: #f2f3f4;
  position: relative;
  overflow: hidden;
}

.resume a {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #6491c6;
}

.resume a.fill {
  height: 100%;
  width: 100%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.resume svg {
  display: none;
  transition: 1s all ease;
}

.resume:hover svg {
  display: block;
  opacity: 1;
  position: absolute;

  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: animate 3s forwards;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

.hello {
  width: 100%;
  height: 100%;
  grid-area: hello;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hello-message {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(20px);
}

.hello-message h2 {
  font-size: 6.7rem;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9;
  color: var(--neutral-600);
  position: absolute;
  background: linear-gradient(
    41deg,
    var(--logo-pink) 0%,
    var(--logo-yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(20px);
}

.hello-message .stroke {
  width: 320px;
}

.hello-message h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    41deg,
    var(--logo-pink) 0%,
    var(--logo-yellow) 100%
  );
  filter: blur(20px);
  transform: translateY(10px) scale(1);
  opacity: 0.3;
}

.projects {
  grid-area: projects;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url(./assets/grid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects .title {
  position: absolute;
}

.card-container {
  max-width: 1120px;
  width: 100%;
  padding: 50px 0;
}

.slide-container {
  margin: 0 10px;
  overflow: hidden;
}

.card-slide {
  width: 312px;
  background-color: var(--pure-white);
  border-radius: 8px;
}

.card-slide .image-box {
  width: 100%;
}

.card-slide .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card-slide .project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.7fr;
  grid-template-areas:
    'description description'
    'stack preview';
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--pure-white);
  border-top: 2px dashed var(--neutral-300);
}

.name-job {
  grid-area: description;
}

.stack-details {
  grid-area: stack;

  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.project-preview {
  grid-area: preview;
  padding-inline: 2rem;
}

.project-details .name {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.stack-details .stack-title,
.preview-title {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.project-details .job {
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-400);
}

.stack-details .stack-icons,
.preview-icons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stack-details .stack-icons img,
.project-preview .preview-icons img {
  width: 2rem;
}

.project-preview .preview-icons img {
  cursor: pointer;
}

.swiper-navBtn {
  display: none;
}

.swiper-navBtn {
  color: var(--neutral-600);
  height: 30px;
  width: 30px;
  background: var(--neutral-300);
  border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 12px;
}

.swiper-pagination-bullet {
  background-color: var(--pure-black);
}

.stacks {
  grid-area: stacks;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.stacks-icons {
  width: 90%;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.stacks .ico {
  background-color: var(--neutral-200);
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
}

.stacks .ico:nth-child(n + 6) svg path {
  fill: var(--neutral-400);
}

.stacks .typescript svg path:nth-child(2) {
  fill: var(--neutral-100);
}
.stacks .description {
  justify-content: center;
  align-items: center;
}

.stacks .description p {
  color: var(--neutral-400);
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid var(--neutral-400);
  border-radius: 3rem;
  padding: 1.5rem;
}

.stack-icons span {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.2rem;
  width: fit-content;
}

.mail {
  grid-area: mail;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mail .img {
  position: absolute;
  top: 45%;
  transform: translateY(-60%);
}

.mail .img img {
  width: 340px;
}

.button-copy {
  display: flex;
  width: 95%;
  height: 50px;
  justify-content: center;
  border: 1px solid var(--neutral-300);
  background: rgba(255, 255, 255, 0.2);
  bottom: 10px;
  border-radius: 1.5rem;
  position: absolute;
  cursor: pointer;
  transition: 0.8s all ease;
  text-transform: uppercase;
  font-size: 1.4rem;
  overflow: hidden;
}

.button-copy.copied {
  display: flex;
  align-items: center;
  background: rgba(159, 159, 159, 0.2);
}

.button-copy i {
  font-size: 1.2rem;
}

.words span {
  display: block;
  text-align: center;
  padding-block: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--neutral-400);
  animation: spin_words 15s infinite;
}

@keyframes spin_words {
  10% {
    transform: translateY(-105%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-205%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-305%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-405%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.mail .copy-mail {
  display: none;
}

.select-mode {
  grid-area: select-mode;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--violet-grad);
  overflow: hidden;
  border-radius: 20px;
  background: var(--blue-sky);
  position: relative;
}

.select-mode.night {
  border-radius: 20px;
  background-color: var(--pure-black);
}

input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.moon {
  display: none;
  position: absolute;
  top: 7rem;
  animation: moonshine 1s forwards;
  transition: all 1s ease;
}

.select-mode .sun {
  display: block;
  position: absolute;
  top: 6.8rem;
  animation: sunrise 1s forwards;
}

@keyframes sunrise {
  0% {
    top: 20rem;
    opacity: 0;
  }
  100% {
    top: 6.8rem;
    opacity: 1;
  }
}

@keyframes moonshine {
  0% {
    top: 20rem;
    opacity: 0;
  }
  100% {
    top: 7rem;
    opacity: 1;
  }
  0% {
    top: 20rem;
    opacity: 0;
  }
}

.select-mode .avatar {
  position: absolute;
  top: 0;
  perspective: 1000px;
  z-index: 999;
}

.memoji-face {
  transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.avatar.active .memoji-face {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  width: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
}

.select-mode .avatar img {
  width: 100%;
  transition: all 1s;
}

.toggle-btn {
  position: absolute;
  width: 5rem;
  height: 3rem;
  background: #feef88;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.8rem;
}

.toggle-btn .icon {
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  background: var(--neutral-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: var(--neutral-400);
  transition: all 0.4s;
}

.toggle-btn.active {
  background: var(--neutral-300);
  transition: all 0.4s;
}

.toggle-btn.active .icon {
  color: var(--neutral-400);
  left: calc(100% - 55%);
  transition: all 0.4s;
}

.contact {
  grid-area: contact;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contact img {
  position: relative;
  width: min(100%, 100%);
  display: flex;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* z-index: 3; */
}

.contact .frame {
  /* width: min(130px, 220px); 140px */
  /* height: min(155px, 200px); 170px */
  width: 126px;
  height: 152px;
  display: flex;
  border-radius: 3.6rem;
  padding: 10px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: blue;
  /* z-index: 1; */
}

.contact .button {
  border: none;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  background: transparent;
  padding: 2px;
}

.contact .button a {
  border-radius: 1rem;
  color: var(--neutral-100);
  width: 11rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  position: relative;
}

.contact .button a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.contact ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/* --------------- SMALL DISPLAYS --------------- */

@media (min-width: 576px) {
  .apple-grid {
    margin: 0 auto;
    height: fit-content;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.2fr 0.4fr 1fr 0.2fr 0.2fr;
    grid-template-areas:
      'hello hello'
      'profile profile'
      'resume resume'
      'stacks mail'
      'projects projects'
      'select-mode contact'
      'select-mode contact';
  }

  .profile .profile-about p {
    padding-inline: 6rem;
  }

  .resume a {
    font-size: 5rem;
  }

  .stacks-icons {
    margin-bottom: 0.5rem;
  }

  .stacks .ico {
    width: 5rem;
    height: 5rem;
  }

  .select-mode .avatar img {
    width: 140px;
  }

  .select-mode .sun {
    width: -webkit-fill-available;
  }
  .moon {
    width: -webkit-fill-available;
  }

  .contact img {
    position: relative;
    width: max(50%, 50%);
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 3; */
  }
}

/* --------------- SMALL DISPLAYS --------------- */

@media (min-width: 1024px) {
  .apple-grid {
    margin: 0 auto;
    height: fit-content;
    padding: 1rem;
    grid-template-columns: 0.6fr 0.6fr 2.2fr 0.6fr 0.5fr;
    grid-template-rows: 0.3fr 0.3fr 0.2fr 0.9fr 1.3fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: '';
  }
}

/* --------------- MEDIUM DISPLAYS --------------- */

@media (min-width: 1366px) {
  .apple-grid {
    max-width: 150rem;
    height: 100vh;
    padding: 4rem 10rem;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: 0.5fr 1fr 0.5fr 2.2fr 0.6fr 0.9fr;
    grid-template-rows: 1fr 1fr 0.4fr 0.9fr 1.3fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'profile profile brand hello stacks stacks'
      'profile profile welcome hello stacks stacks'
      'profile profile projects projects stacks stacks'
      'profile profile projects projects mail mail'
      'profile profile projects projects mail mail'
      'profile profile projects projects select-mode contact'
      'resume resume projects projects select-mode contact';
  }

  .brand,
  .welcome {
    display: flex;
  }

  .profile {
    padding: 2rem 1.5rem;
  }

  .profile .profile-avatar img {
    width: 10rem;
  }

  .profile .profile-avatar::before {
    width: 14rem;
    height: 14rem;
  }
  .profile .profile-name {
    width: 30rem;
  }

  .profile .profile-name h1 {
    font-size: 2.6rem;
    padding-top: 2rem;
  }

  .profile .profile-name .role {
    font-size: 1.8rem;
  }

  .profile .profile-about p {
    font-size: 1.6rem;
    padding-top: 1rem;
    line-height: 20px;
    padding-inline: 2rem;
  }

  .resume a {
    font-size: 2.8rem;
  }

  .brand {
    align-items: center;
    justify-content: center;
    padding-left: 7px;
  }

  .swiper-navBtn {
    display: flex;
  }

  .card-container {
    max-width: 1120px;
    width: 100%;
    padding: 35px 0;
  }

  .slide-container {
    margin: 0 33px;
    overflow: hidden;
  }

  .card-slide {
    width: 300px;
    background-color: var(--pure-white);
    border-radius: 8px;
  }

  .card-slide .image-box {
    width: 100%;
  }

  .card-slide .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .card-slide .project-details {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'description description stack preview';
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--pure-white);
    border-top: 2px dashed var(--neutral-300);
  }
  .project-details .name,
  .stack-details .stack-title,
  .preview-title {
    font-size: 1.6rem;
  }

  .project-details .job {
    font-size: 1.4rem;
  }

  .stacks .ico {
    width: 5rem;
    height: 5rem;
  }

  .stacks-icons {
    width: 100%;
  }

  .stacks .description p {
    font-size: 1.4rem;
    padding: 1.3rem;
  }

  .mail .img img {
    width: 320px;
  }

  .button-copy {
    width: 94%;
    position: absolute;
    bottom: 10px;
  }

  .contact .frame {
    width: 143px;
    height: 176px;
  }

  .contact img {
    position: relative;
    width: min(100%, 100%); /*86%*/
    display: flex;
    flex-direction: column;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 3; */
  }

  .select-mode .avatar img {
    width: 115px;
  }

  .select-mode .sun,
  .moon {
    width: fit-content;
  }

  .stack-icons span {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.2rem;
    width: fit-content;
  }
}

/* --------------- LARGE DISPLAYS --------------- */

@media (min-width: 1600px) {
  .apple-grid {
    max-width: 1600px;
    height: 100vh;
    padding: 4rem 5rem;
    margin: 0 auto;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: 0.5fr 1fr 0.5fr 2.2fr 0.6fr 0.9fr;
    grid-template-rows: 1fr 1fr 0.4fr 0.9fr 1.3fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'profile profile brand hello stacks stacks'
      'profile profile welcome hello stacks stacks'
      'profile profile projects projects stacks stacks'
      'profile profile projects projects mail mail'
      'profile profile projects projects mail mail'
      'profile profile projects projects select-mode contact'
      'resume resume projects projects select-mode contact';
  }

  .brand,
  .welcome {
    display: block;
  }

  .hello-message h2 {
    font-size: 8rem;
  }

  .hello-message .stroke {
    width: 390px;
  }

  .profile .profile-about p {
    font-size: 1.8rem;
    padding: 2rem 1.2rem;
  }

  .brand {
    display: grid;
    place-items: center;
  }

  .brand-logo img {
    height: 100px;
    padding-left: 10px;
  }

  .stacks-icons {
    width: 90%;
  }

  .stacks .description p {
    margin-top: 2rem;
  }

  .swiper-navBtn {
    display: flex;
  }

  .slide-container {
    margin: 0 35px;
  }

  .card-slide .project-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: 'description description stack preview';
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--pure-white);
    border-top: 2px dashed var(--neutral-300);
  }

  .mail .img img {
    width: 370px;
  }

  .select-mode {
    background: var(--blue-sky);
  }

  .select-mode .avatar img {
    width: 140px;
    transition: all 1s;
  }

  @keyframes sunrise {
    0% {
      top: 20rem;
      opacity: 0;
    }
    100% {
      top: 9.8rem;
      opacity: 1;
    }
  }

  @keyframes moonshine {
    0% {
      top: 20rem;
      opacity: 0;
    }
    100% {
      top: 9.8rem;
      opacity: 1;
    }
  }
}
/*-----------------DARK MODE -------------------*/

body.dark {
  background-color: var(--pure-black);
}

.dark .loader_bg {
  background-color: var(--pure-black);
}

.dark .mail,
.dark .hello,
.dark .stacks,
.dark .projects,
.dark .brand,
.dark .welcome,
.dark .profile {
  background-color: var(--neutral-600);
}

.dark .card p {
  color: var(--neutral-300);
}

.dark .profile .profile-name h1 {
  color: var(--neutral-100);
}

.dark .profile .profile-name .role {
  color: var(--neutral-100);
  font-weight: 300;
}

.dark .stacks .ico,
.dark .stacks .description p {
  background-color: var(--pure-black);
}

.dark .projects span {
  color: var(--neutral-100);
}

.dark .swiper-pagination-bullet {
  background-color: var(--logo-yellow);
}

.dark .stacks .title {
  bottom: 0;
  color: var(--neutral-100);
}

.dark .mail .button-copy {
  border: 1px solid var(--neutral-400);
  background: rgba(255, 255, 255, 0.1);
  color: var(--pure-white);
}

.dark .words span {
  color: var(--neutral-100);
}

.dark .button-copy.copied {
  background: rgba(255, 255, 255, 0.4);
}
